@charset "utf-8";
/* CSS Document */

body{
	background-image:url(bg_connexion.png);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position: bottom;
}

#ban{
	border: 2px solid black;
	text-align: center;
	width: 500px;
	margin: 20px auto;
	background-image: url("banniere.png");
	background-repeat: repeat;
	font-family: Arial black, Times, sans-serif;
	height: 25px;
	padding: 10px;
}

#logodroit{float: right;}

#logogauche{float: left;}

#log{
	margin: 40px auto;
	padding: 5px;
  	width: 174px;
	background-color: white;
	border-width:2px;
 	border-style:outset;
 	border-color:black;
}